/* Global */

body
{
    background: #EEE
}

/* Global */

/* Login Form */

.login,
.signup
{
    max-width: 500px;
    background: #FFF;
    margin: 90px auto;
    padding: 40px;
    box-shadow: 0px 3px 6px #c1c1c1;
}
h4
{
    background: #444;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #cccbcb;
    font-size: 1.2em;
    text-transform: uppercase;
}
.form .form-group:last-of-type
{
    margin-top: 30px;
}

/* Login Form */

/* Signup Form */

.signup
{
    margin: 40px auto
}

/* Signup Form */